* {
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    color: #777777;
    background-image: url(../images/beautiful-scenic-roadway-through-the-mountains-in-banff-national-park-alberta-canada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    height: 100%;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 40px;
}

p {
    line-height: 1.5em;
    font-size: 1em;
    margin: 0 1em 1em 1em;
}

header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    
}

.header-h1 {
    background-color: rgba(1, 83, 1, 0.7);
    display: flex;
    min-width: 300px;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    min-width: 300px;
    justify-content: space-around;
    align-items: center;
}